.container{
    display: flex;
    background-color: #F2EAE0;
    width: 250px;
    height: 300px;
    flex-direction: column;
    align-items: center;
}
.A{
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    width:60px;
    height: 60px;
    background-color: rgb(17, 164, 201);
}
.b{
    text-size-adjust: 5px;
    border-radius: 15px;
    
}
