.p1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: aquamarine;
    padding:10px;

}
.navbar{
    display:flex;
    padding:10px;
    gap:20px;
}
.navbar a{
    text-decoration: none;
    color:black
}
.logo img{
    width:60px;
    height: 60px;
    border-radius: 50%;
}
