.parent{
    display: flex;
   gap:16px;
   padding:20px;

}
.card{
    background-color: #42b883;
    text-align: center;
    color: white;
    text-align: center;
    padding:20px;
    width:210px;
    border-radius: 15px;
}
.b{
    background-color: white;
    color:#42b883;
    border: none;
    padding :8px 16px;
    border-radius: 6px;
}


