
h1{
    color:rgb(174, 23, 23)
}
.text{
    color: darkcyan;
}
.text1{
    color: indianred;
    text-decoration:line-through;
    font-family: "Times New Roman", Times, serif;
}
#title{
    color:gold;
    text-align:initial;
        font-family: "Times New Roman", Times, serif;

}
*{
    margin: 20;
    padding: 19px;
}
.a1{
    border: 2px solid;
    padding: 0;
    margin:60px;

}
.box{
   border:2px solid blue;
   width:200px;
   padding: 0px;
   margin-top: 30px 10px;

}
.a2{
    border:10px solid black;
    margin:50px 30px;
    color:aqua;
}
#b1{
    color:rgba(220, 34, 220, 0.866);
}
body{
    background-image: url("ajimage.jpg");
}