.container{
    background: rgb(242, 155, 25);
     display: grid;
     grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
     grid-template-rows:  100% 100%;
     gap:0px;
}
@media(max-width:600px)
{
    .container{
        background: rgb(182, 15, 15);
    }
}
.item{
    grid-column: 1/3;
}