.container{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: 80px 200px 150px 80px;
       gap:10px;
       grid-template-areas: "nav nav nav"
                            "hero hero hero"
                            "card1 card2 card3"
                            "footer footer footer";
.box{
       display: flex;
       justify-content: center;
       align-items: center;
}

}
.nav{
       grid-area:nav;
       border: 5px solid rgb(171, 54, 54);
       justify-content: center;
}
.hero{
       grid-area:hero;
       border: 5px solid brown;
}
.card1{
       grid-area:card1;
       border:5px solid yellow
}
.card2{
       grid-area:card2;
       border:5px solid yellow
}
.card3{
       grid-area:card3;
       border:5px solid yellow
}
.footer{
       grid-area:footer;
       border:5px solid green;
}
